.barra {
    display: flex;
    flex-direction: column;
    padding-top: $separacion2;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo {
        // flex-grow: 2;
        width: 20rem;
    }
}

.navegacion {    
    @include tablet {
        display: flex;
        align-items: center;
    }
    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2rem;
        display: block;
        text-align: center;

        // &::after {
        //     content: '';
        //     height: .3rem;
        //     width: 100%;
        //     background-color: $verde;
        //     visibility: hidden;
        //     display: block;
        // }

        &:hover {
            color: $verde;

            // &::after {
            //     visibility: visible;
            // }
        }

        @include tablet {
            margin-right: $separacion2;
    
            &:last-of-type {
                margin: 0;
            }
        }
    }
    
}